<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sql.ConnectionString" value="Data Source=bydiotsuitedemo.database.windows.net;Initial Catalog=byddemoiotsuite;Integrated Security=False;User ID=azureuser;Password=Pwd=222222;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>