@using GlobalResources
<script src="/Scripts/chart.js"></script>
<script src="/Scripts/Views/Dashboard/BarChart.js"></script>
<div class="dashboard_device_map">
    <canvas id="barChart"  width="100" height="100"></canvas>
</div>
    <script type="text/javascript">
        (function () {
            'use strict';

            var barChartSettings = {
                targetControl: '#barChart',
                requestUrl: '/api/v1/telemetry/bydyearlyerrorsummary'
            };

            IoTApp.Dashboard.BarChart.init(barChartSettings);
            IoTApp.Dashboard.BarChart.refreshData();
        })();
    </script>


