@using GlobalResources
<script src="/Scripts/Chart.js"></script>
<script src="/Scripts/Views/Dashboard/PieChart.js"></script>
<div class="dashboard_device_map">
    <canvas id="pieChart" width="100" height="100"></canvas>
</div>
<script>
    (function () {
        'use strict';

        var pieChartSettings = {
            targetControl: ('#pieChart'),
        };

        IoTApp.Dashboard.PieChart.init(pieChartSettings);
    })();
</script>

